@import url(./base.css);

body {
  display: grid;
  min-height: 100vh;

  grid-template-columns: 10rem 1fr;
  grid-template-rows: 10rem 2rem 1fr 2rem;

  grid-template-areas:
    "cabecera cabecera"
    "categorias categorias"
    "articulos articulos"
    "pie pie";

  font-family: sans-serif;
}

header {
  grid-area: cabecera;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body header nav menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header form {
  margin: 0.5rem;
}

header li {
  margin-right: 1rem;
}

body nav {
  display: contents;
}

body nav menu {
  grid-area: categorias;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body main {
  grid-area: articulos;
  overflow: auto;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem 1rem;
}

article {
  display: flex;
  flex-direction: column;
}

.description {
  min-height: 5rem;
}

.price {
  margin-top: auto;
}

footer {
  grid-area: pie;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2rem;
}

@media (min-width: 700px) {
  body {
    display: grid;
    /*     min-height: 100vh; */

    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr 2rem;

    grid-template-areas:
      "cabecera cabecera"
      "categorias articulos"
      "pie pie";

    font-family: sans-serif;
  }

  body nav menu {
    flex-direction: column;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    /*  justify-content: center;*/
  }

  body header nav menu {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1rem;
    align-self: stretch;
  }
  body nav menu {
    justify-content: start;
    margin-top: 1rem;
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
