* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header h1 {
  background-color: rgb(63, 125, 177);
  color: cornsilk;
  text-align: center;
  padding: 2rem;
  font-size: 50px;
}

h2 {
  color: rgb(63, 125, 177);
  margin-top: 2rem;
  margin-left: 2rem;
}

li {
  list-style-type: circle;
  margin-left: 4rem;
  margin-top: 1rem;
}

li.importante {
  text-decoration: underline;
  font-weight: bold;
}

table {
  margin-left: 3rem;
  margin-top: 1rem;
}

thead tr {
  background-color: #6698ee;
  color: cornsilk;
}

tbody tr :first-child {
  font-weight: bolder;
  background-color: rgb(142, 201, 221);
}

tbody tr:nth-child(even) {
  background-color: rgb(142, 201, 221);
}

tbody tr:nth-child(even) th {
  background-color: #7ca7f1;
}
/* // Como se hace??? */

tbody tr:nth-child(odd) {
  background-color: rgb(185, 220, 231);
}

th,
td {
  padding: 0.7rem;
}

td#descanso {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
